
    <form method="POST">
      <h3 align="center">Login</h3>
      <div class="form-group">
        <label for="q1">First Name</label>
        <input
          type="text"
          class="form-control"
          id="q1"
          name="q1"
          placeholder="Enter first name"
        />
      </div>
      <div class="form-group">
        <label for="q2">First Name</label>
        <input
          type="text"
          class="form-control"
          id="q2"
          name="q2"
          placeholder="Enter first name"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>